@use 'mixin' as mixin;

@tailwind base;
@tailwind utilities;
@tailwind components;

body{
  overflow-x: hidden;
  background-color: #EFEFEF;
}
html {
  scroll-behavior: smooth;
  background-color: #EFEFEF !important;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

*{
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

.colm1{
  width: calc((100% - 48px) / 3);
}
.footerSvg svg{
  width: 24px !important;
  height: 24px !important;
}

@media screen and (max-width:1000px) {
  
.colm1{
  width: calc((100% - 10px) / 2);
}
}
@media screen and (max-width:500px) {
  .colm1{
    width: 100%;
  }
  }